<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Species</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pets.forEach(function(m) { %>
      <tr>
        <td><%= pets.name %></td>
        <td><%= pets.img %></td>
        <td><%= pets.species %></td>
        <td><a href="/pets/<%= m._id %>">PROFILE</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>