<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      
      <th>Species</th>
      
    </tr>
  </thead>
  <tbody>
    <% pets.forEach(p => { %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.species %></td>
        <td><a href="/pets/<%= p._id %>">Profile</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>